<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Client Profile</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>


    <form action="/uploadClientPicture", enctype="multipart/form-data", method="post" >

            <input type="file" name="myImage">
            <input type="submit" name="submit" value="picture">

    </form>
    <br><br><br><br><br>
    <form action="/uploadClientVideo", enctype="multipart/form-data", method="post" >

            <input type="file" name="myVideo">
            <input type="submit" name="submit" value="video">

    </form>

  </body>
</html>
