<h2 class="page-header">Register</h2>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <form (submit)="onRegisterSubmit()">
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
      <div class="w3-rest">
        <label>Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="name">
      </div>
    </div>
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
      <div class="w3-rest">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
      </div>
    </div>
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
      <div class="w3-rest">
        <label>Email</label>
          <input type="text" [(ngModel)]="email" name="email" class="form-control">
      </div>
    </div>
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
      <div class="w3-rest">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control">
      </div>
    </div>
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
      <div class="w3-rest">
        <label>City</label>
        <input type="text" [(ngModel)]="city" name="city" class="form-control">
      </div>
    </div>
    <div class="form-check">
      <label class="form-check-label">
    <input class="form-check-input" type="radio" [(ngModel)]="usertype" name="usertype" value="false" checked>
    User
  </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
    <input class="form-check-input" type="radio" [(ngModel)]="usertype" name="usertype" value="true" checked>
    Business owner
  </label>
    </div>
    <div class="form-group">
    <label>Company ID</label>
    <input type="text" [(ngModel)]="companyid" name="companyid" class="form-control">
  </div><br>
    <input type="submit" class="btn btn primary" value="Submit">
  </form>