<form>
    <div class="form-group">
    <h3> Enter Your Client Name below to view Users Bookings </h3>
      <input class="form-control" type="text" placeholder="Client Name" [(ngModel)]="client_name" name="client_name"
        (keyup)="getClientReservation(client_name)">
    </div>
  </form>
  <div *ngIf="reservations">
    <div *ngFor="let result of reservations ">
      <div class="row">
        <div class="col-md-8">
          <div class="search-res well">
            <h4>Booking time: {{result.booked_date_time}} </h4>
            <h6>User ID: {{result.user_id}} </h6>
            <h6>User Username: {{result.username}} </h6>
            <h6>Client ID: {{result.client_id}} </h6>
            <h6>Client Name: {{result.client_name}} </h6>

            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
